


This package REPLACES the texlive packages provided

by Arch Linux with the UPSTREAM TexLive distribution.


This script will not do the homework for you;

you are expected to install TeXLive on your own.


If you want to go ahead, you already know what to do.



Good luck.


